# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Virtual Environment
venv/
ENV/
env/
.env

# Local Databases (Contains private patient history records)
database/database.db
database/*.db
*.db

# Data & Datasets
data/raw/
data/processed/
datasets/

# Environment
.env

# IDE Files
.vscode/
.idea/
.project
.pydevproject

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
